/*falta algo muy importante al inicio del css. verificar que es*/

h1{
    .acme-regular
        font-family: "Acme", sans-serif;
        font-weight: 400;
        font-style: normal;
    font-size: 50px;
    text-align: center;
}


header{
    background-color: #252E3F;
    padding: 10px 5px;
    border-radius: 10px ;
    color: #d4d1d1;
    font-family: ;
}

.subtitulo{
    .poppins-semibold 
        font-family: "Poppins", sans-serif;
        font-size: 35px;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        color: #A79F5C;
}

nav a {
    .poppins-medium 
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        color: #d4d1d1;
    }

.lateral{
    background-color: #d4d1d1;
    width: 40%;
    padding: 5px ;
    margin: 20px 0px 20px 0px; 
    border-radius: 10px;
}

.linea{
    border-top: 2px solid #252E3F; /* Línea horizontal */  
    width: 100%;
}

