@charset "UTF-8";
header{
    background-color: #70005828;
    width: 100%;
    border-radius: 10px;
    border: 10px;
}
nav ul li {
    display: inline;
    flex-direction: row;
    justify-content: space-between;
}
.botonera{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0px 30px;
    align-items: center;
}
.botonera a{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: #700020;
    text-decoration: none;
    padding: 10px 40px;
    border: 3px solid #7000202c;
    border-radius: 20px;
    margin: 10px;
}
.botonera a:hover{ 
    color: #700020;
    background-color:#099DAB;
}
.botonera a:active{
    color: #700020;
    background-color:#099DAB;
}
nav ul{
    display: block;
    padding: 10px;
    margin: 0px 30px;
    justify-content: space-around;
}
/*FIN DE NAVEGADOR*/
body{
    background-color: #7000202c;
}
.paginaprincipal{
    display: flex;
    flex-direction: row;
    margin: 17px 0px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-image: url(/primer-subida/IMG/1x/Mesa\ de\ trabajo\ 1-100.jpg);
    background-size: 100% auto;
    background-position: top;
    padding: 30px 0px;
}
.imagenprincipal{
    border-radius: 30px;
}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #700020;
    font-size: 90px;
    margin: 0px 10px;
}
h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #700020;
    margin: 0px  10px;
    align-items: center;
}
/*FIN DE LA PRIMER PAGINA*/
.texto{
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    border: 2px solid #099DAB;
    border-radius: 30px;
    margin: 40px 10px 10px 10px;
    justify-content: center;
    padding: 5px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.062);
}
.experiencia{
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    border: 2px solid #099DAB;
    border-radius: 30px;
    margin: 20px 10px;
    justify-content: center;
    padding: 5px;
    align-content: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.062);
}
.datos, .habilidades{
    display: inline-flex;
    flex-direction: row;
    width: 45%;
    border: 2px solid #099DAB;
    border-radius: 30px;
    margin: 20px 10px;
    justify-content: center;
    padding: 5px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.062);
}
.habilidades{
    width: 20%;
    justify-content: center;
    position: relative;
    top:px;
    right: px;
    bottom: 220px;
    left:20px;
    text-decoration: none;
}
.datos{
    position: relative;
    top:px;
    right: px;
    bottom: 220px;
    left:px;
    width: 20%;
}
.secciones{
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 10px 5px;
    height:500px;
    width: 100%;
    box-sizing: border-box;
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #700020;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}
h4{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #700020;
    text-align: center;
}
.p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: #7000209c;
    text-align: start;
}
/*FIN DE SECCIONES*/
h5{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #700020;
    font-size: 90px;
    width: 70%;
    margin: 20px;
    box-sizing: border-box;
}
#sobremi{
    width: 100%;
    height: 500px;
}
.sobremi{
    width: 45%;
    padding: 20px;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #70002013;
    border-radius: 30px;
    margin:20px;
}
.foto{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 25%;
    justify-content: center;
    position: relative;
    right: 20px;
    left: 900px;
    bottom: 400px;
}
.foto:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #099DAB;
    border-radius: 10px;
}
#SobreMi{
    width: 100%;
    height: 550px;
}
/*FIN DE SOBRE MI*/
.michis{
    display: inline-flex;
    width: 1327px;
    height: 500px;
    justify-content: space-around;
    border-radius: 20px;
}
.timmy:hover:hover{
    transform: scale(1.1);
    overflow: hidden;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px; rgba(0.50);
    cursor: pointer;
}
.luna:hover{
    transform: scale(1.1);
    overflow: hidden;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px; rgba(0,0,0,0.50);
    cursor: pointer;
}
.negrito:hover{
    transform: scale(1.1);
    overflow: hidden;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px; rgba(0.50);
    cursor: pointer;
}
.greta:hover{
    transform: scale(1.1);
    overflow:hidden;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px; rgba(0,0,0,0.50);
    cursor: pointer;
}
h6{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #700020;
    justify-content: center;
    text-align: center;
    background-color: #7000201a;
    border-radius: 10px;
}
/*FIN DE MICHIS*/
/*Inicio de footer*/
footer{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}